<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="d-flex p-2">
        <div class="side-content">
            <div class="image-section">
                <img src="" alt="">
            </div>
            <hr>
            <div class="d-flex p-2  d-flex justify-content-center text-primary d-flex justify-content-around" id="tag">       <!--d-flex align-items-center-->
                    <i class='bx bxs-zap' id="tb1" ></i>
                    <a href="/manage-apps" id="tb1" style="text-decoration: none; color: rgb(16, 98, 239); margin-right: 20px;" >Manage Apps</a>
                
            </div>
            <div class="d-flex p-2 d-flex align-items-center d-flex justify-content-center d-flex justify-content-around" id="tag">
                    <i class='bx bx-bookmark' id="tb2" style=" color: red; margin-right: 13px;"></i>                  
                    <a href="/my-profile" id="tb2" id="tb" style=" color: red; margin-right: 50px; text-decoration: none;">My Profile</a> 
            </div>
        </div>

        <div class="main-content">

