<%- include('partials/header') %>

<div class="welcome">
    <p>Welcome back, <b>Mister</b> </p>
</div>

<div class="warning">
    <div class="stop">
        <img src="ban.svg" alt="#"  class="bann">     
    </div>

    <div class="inner-warning">
        <h4>NO APP SELECTED !!</h4>
        <p>Select an app to make changes to templates</p>
    </div>
</div>

<div class="btn">
    <button>Create App<i class='bx bx-plus'></i></button>
</div>


<%- include('partials/footer') %>