<%- include('partials/header') %>

<div class="container">
    <p>Approved Apps</p>
    <i class='bx bx-dots-vertical-rounded' ></i>

    <p><b>eInvoice</b></p>
    <i class='bx bxl-whatsapp'></i>
    <i class='bx bx-envelope'></i>
    <img src="myimages/chat.png" alt="">

    <div class="btm">
        <p>Manage</p>
        <i class='bx bx-right-arrow-alt'></i>
    </div>

</div>

<div class="bottom">
    <p>Revoked Approval</p>
    <i class='bx bx-dots-vertical-rounded' ></i>

    <p><b>Appraisal Management</b></p>
    <i class='bx bxl-whatsapp'></i>
    <i class='bx bx-envelope'></i>
    <img src="myimages/chat.png" alt="">

    <div class="innerdiv">Restore</div>


 </div>

<%- include('partials/footer') %>