    .side-content {
        width: 20vw;
        height: 735px;
        border: 1px solid #f5f5f5;
        box-shadow: 2px 2px 10px 2px rgb(227, 227, 227);
    }

    .image-section {
        margin-bottom: 60px;
    }

    .main-content{
        display: flex;
        margin-left: 70px;
        margin-top: 50px;
        border: 1px solid #f5f5f5;
        padding:40px 40px;
        border-radius: 10px;
        width: 100vw;
        box-shadow: 2px 2px 10px 2px rgb(227, 227, 227);
    }
    .main-content .welcome{
        margin-top: 20px;
    }
    .warning{
        display: flex;
        justify-content: center;
        margin-left: 90px;
        margin-right: 90px;
        border: 2px solid red;
        height: 80px;
        padding: 2px 150px 0px 10px;
        border-radius: 10px;
        background-color: rgb(250, 194, 194);
    }
    .inner-warning{
        line-height: 10px;
       
    }
    .inner-warning h4{
        font-family: sans-serif ;
    }

    

    .stop img{
        width: 50px;
        margin-top: 20px;
        margin-right: 20px;
        background: red;
    }
    .btn button{
        margin-left: 50px;
        margin-top: 17px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: rgb(84, 132, 216);
        color: #f5f5f5;
        width: 150px;
        cursor: pointer;
        font-size: 14px;
    }